#tableField td{
  border: 2px solid #01579B;
  margin: 0px;
  padding: 0px;
}

#tableField td:hover{
  background-color: #81D4FA;
}

#tableField td.openSlot{
  background-color: #a5a5a5;
}

#tableField td.openBomb{
  /*background-image: ;*/
  background-color: #ff0000;
}

tr {
  height: 40px;
}

td {
  width: 40px;
}
